@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@500&family=Roboto:ital@0;1&display=swap');

:root {
    --main-color: #221f32;
    --color-dark:#626d80;
    --text-grey: #8390A2;
} 
*{
   padding:  0;
   margin:0;
   box-sizing: border-box;
   list-style-type: none;
   text-decoration: none;
   font-family:'Roboto', 'Mukta', sans-serif;
                
}


body{
    
    background-image: url("/ALPHA TECH/Images/1169862.jpg");
    background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed;
   overflow-x: hidden;
}
.sidebar{
    width: 345px;
    position: fixed;
  
    left: 0;
    top: 0;
    height: 100%;
    border-left: 10px solid red;
    transition: 0.5s;
    overflow: hidden;
  }